<aside class="col-3 border border-light bg-white p-2">
    <article class="card mb-3">
        <div class="card-header">
            Catégories
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_categories_index') }}">Liste des Catégories</a></p>
            <p><a href="">Ajouter des catégories</a></p>
        </div>
    </article>
        <article class="card mb-3">
        <div class="card-header">
            Produits
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_product_index') }}">Liste des produits</a></p>
            <p><a href="{{ path('admin_product_add') }}">Ajouter des produits</a></p>
        </div>
    </article>
        <article class="card mb-3">
        <div class="card-header">
            Utilisateurs
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_user_index') }}">Liste des Utilisateurs</a></p>
            
        </div>
    </article>
</aside>