 <footer class="page-footer centered">
<div>

    <a href="https://twitter.com/?lang=fr"><img class="img-logo" src="{{asset('assets/uploads/twitter.png')}}" alt="twitter"></a>
    <a href="https://www.instagram.com/?hl=fr"><img class="img-logo" src="{{asset('assets/uploads/instagram.png')}}" alt="instagram"></a>
    <a href="https://www.linkedin.com/feed/"><img class="img-logo" src="{{asset('assets/uploads/linkedin.png')}}" alt="linkedin"></a>
    <a href="https://fr-fr.facebook.com/"><img class="img-logo"src="{{asset('assets/uploads/facebook.png')}}" alt="facebook"></a>
     <p> Copyright © <?= date("Y"); ?> William Loyer <a href="https://www.economie.gouv.fr/entreprises/site-internet-mentions-obligatoires" class="mentionL" >Mention Légale</a> </p>
     
</div>
          
</footer> 

 <style>

</style> 