body {
  min-height: 100vh !important;
  display: flex !important;
  flex-direction: column !important;
  background-image: url("/assets/uploads/bg-saccahrose1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main {
  flex-grow: 1 !important;
}
h2,
h1 {
  color: #023373;
  padding-bottom: 20px;
  justify-content: center;
  font-weight: bold !important;
}

h3 {
  color: aliceblue;
}
.titreCustom{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
a {
  color: aliceblue !important;
}
a:hover {
  color: #f28705 !important;
}


/* Navigation bar */

.buttonCustom {
  background-color:#f25c05 !important; 
}

.offcanvas {
 background-color: #023373 !important;
}
.navCustom {
  height: 150px;
  background: rgb(222,228,228);
  background: linear-gradient(0deg, rgba(222,228,228,0) 5%, rgba(2,51,115,1) 59%); 
  font: 25px alex-brush, sans-serif;
  --bs-bg-opacity: 0 !important;
}
.nav-link {
  padding-right: 60px !important;
}
.buttonCustom{
  background-color: #f25c05;
}
.logoCustom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Pour centrer exactement au milieu */
}
.imgSize{
  width: 250px;
}


/* footer */


footer {
  height: 150px;
  background: rgb(2,51,115);
  background: linear-gradient(0deg, rgba(2,51,115,1) 54%, rgba(222,228,228,0) 93%); 
  bottom: 0;
  width: 100%;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 10px; /* Ajustement de la marge inférieure pour séparer les liens des mentions légales */
}

.mention-legale {
  text-align: center;
  margin-bottom: 0; /* Ajustement de la marge inférieure pour éviter l'espace supplémentaire */
}
.img-logo {
  width: 50px !important;
  padding-left: 5px;
  padding-bottom: 10px;
}
p {
  color: #f25c05 !important;
}

/* Product Card */

/* .btnCustom {
  background: rgb(2, 51, 115);
  background: linear-gradient(
    0deg,
    rgba(2, 51, 115, 1) 25%,
    rgba(3, 74, 166, 1) 57%
  );
  display: block;
  margin-top: 10px;
}
.cardCustom {
  background-image: linear-gradient(to right, #f25c05, #a60321, #f28705);
  background-size: 200% auto;
  animation: gradient 5s ease infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

@keyframes gradient {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
} */
.mentionL{
  text-decoration: none;
}
.adminNav{
  color: #023373 !important;
}
.mainAdmin{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
a{
  color:#f28705!important;
}
.cardCategorie{
  box-shadow: 0px 5px 5px 0px ;
}