<p>Bonjour {{user.firstname}} {{ user.lastename }}</p>
<p>Pour votre demande de Réinitialisation de mot de passe, veuilliez cliquer sur le lien suivant : <a href="{{ url|raw }}">{{ url|raw }}</a></p>
<p>Merci</p>